In [4]:
import pandas as pd

In [5]:
sales=pd.Series([100,500,800,7500])
sales.values

array([ 100,  500,  800, 7500], dtype=int64)

In [6]:
sales.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
sales=pd.Series([100,500,800,7500],index=['a','b','c','d'])
print(sales)
print(sales.values)
print(sales.index)

a     100
b     500
c     800
d    7500
dtype: int64
[ 100  500  800 7500]
Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
sw=pd.Series([20,49,76,27,92,16,5], index=['m','t','w','t','f','s','s'])
print(sw)
print("5")

m    20
t    49
w    76
t    27
f    92
s    16
s     5
dtype: int64
5

In [15]:
swm=sw * 4

In [16]:
sw.sum()

285

In [17]:
swm.sum()

1140

In [19]:
't' in sw

True

In [20]:
't'in swm

True

# storing data from array

In [36]:
import numpy as np
arr=np.array([3,1,5,8,0,6,5,4,2,5])
ind=np.array(['l','a','t','e','e','f','u','r','r','a'])

ind

array(['l', 'a', 't', 'e', 'e', 'f', 'u', 'r', 'r', 'a'], dtype='<U1')

In [37]:
pd.Series(arr, index=ind)

l    3
a    1
t    5
e    8
e    0
f    6
u    5
r    4
r    2
a    5
dtype: int32

# storing data form dic

In [62]:
sdata= {'lateef':25,'Ali':23,'khurram':35,'n-280':'surjani','ahmad':0}
sdata

{'lateef': 25, 'Ali': 23, 'khurram': 35, 'n-280': 'surjani', 'ahmad': 0}

In [63]:
value=pd.Series(sdata)
value

lateef          25
Ali             23
khurram         35
n-280      surjani
ahmad            0
dtype: object

In [64]:
print(value)
print(value.index)

lateef          25
Ali             23
khurram         35
n-280      surjani
ahmad            0
dtype: object
Index(['lateef', 'Ali', 'khurram', 'n-280', 'ahmad'], dtype='object')

In [65]:
val2=pd.Series(sdata, index=['lateef', 'Ali',  'n-280','khurram','zia'])
val2

lateef          25
Ali             23
n-280      surjani
khurram         35
zia            NaN
dtype: object

In [66]:
print('lateef' in value) 


print("from 12")

True
from 12

In [67]:
pd.isnull(val2)

lateef     False
Ali        False
n-280      False
khurram    False
zia         True
dtype: bool

In [70]:
value.isnull()

lateef     False
Ali        False
khurram    False
n-280      False
ahmad      False
dtype: bool